Repository Avdan-OS/Website, pull requests merged in 2022-07, with the labels that each got.

#106 Updated sr-SP translation #2
  src/components/translation/locale/sr-SP.ts
Labels: translation

#107 Enable Serbian translation
  src/components/translation/TranslationList.tsx
Labels: translation

#110 Improved translations and grammar of Serbian
  src/components/translation/locale/sr-SP.ts
Labels: translation

#109 Update el-GR.ts
  src/components/translation/locale/el-GR.ts
Labels: translation

#113 Updated german translation
  src/components/translation/TranslationList.tsx
  src/components/translation/locale/de-DE.ts
Labels: translation

#112 danish added
  src/components/translation/TranslationList.tsx
  src/components/translation/locale/da-DK.ts
Labels: translation

#111 Enable Greek Translation & patch for not yet supported locales
  src/components/translation/TranslationList.tsx
Labels: translation

#144 Update ar-SA.ts
  src/components/translation/locale/ar-SA.ts
Labels: translation

#155 Changed the logo to the new one for darkmode and lightmode
  src/public/assets/logo/#render-dark.svg
  src/public/assets/logo/#render-outline.png
  src/public/assets/logo/#render.png
  src/public/assets/logo/#render.svg
  src/public/assets/logo/render-dark.svg
  src/public/assets/logo/render-outline.png
  src/public/assets/logo/render.png
  src/public/assets/logo/render.svg
Labels: enhancement

#159 Added sv-SE locale
  src/components/translation/TranslationList.tsx
  src/components/translation/locale/sv-SE.ts
Labels: translation

#162 Update sv-SE.ts
  src/components/translation/locale/sv-SE.ts
Labels: translation

#166 Punctuations And Caps Improvement
  src/components/translation/locale/ar-SA.ts
  src/components/translation/locale/da-DK.ts
  src/components/translation/locale/de-DE.ts
  src/components/translation/locale/el-GR.ts
  src/components/translation/locale/en-GB.ts
  src/components/translation/locale/en-US.ts
  src/components/translation/locale/es-ES.ts
  src/components/translation/locale/fr-FR.ts
  src/components/translation/locale/hi.ts
  src/components/translation/locale/id-ID.ts
  src/components/translation/locale/it-IT.ts
  src/components/translation/locale/nl-NL.ts
  src/components/translation/locale/pl.ts
  src/components/translation/locale/ru.ts
  src/components/translation/locale/sr-SP.ts
  src/components/translation/locale/sv-SE.ts
  src/components/translation/locale/zh-CN.ts
  src/components/translation/locale/zh-TW.ts
  src/pages/features-beta.tsx
Labels: grammar/translation

#174 Added link to AvdanOS/Suggestions in support.tsx
  src/pages/support.tsx
Labels: documentation

#183 Init us_UZ
  src/components/translation/TranslationList.tsx
  src/public/assets/lang/uz_UZ.yaml
Labels: grammar/translation

#189 Added Irish (GA) Translation
  src/components/translation/TranslationList.tsx
  src/public/assets/lang/ga_IE.yaml
Labels: grammar/translation

#191 Init tr_TR locale
  src/components/translation/TranslationList.tsx
  src/public/assets/lang/tr_TR.yaml
Labels: grammar/translation

#190 Updated italian translation
  src/public/assets/lang/it_IT.yaml
Labels: grammar/translation

#206 Update docs link
  src/pages/docs.tsx
  src/public/assets/lang/ar_SA.yaml
  src/public/assets/lang/da_DK.yaml
  src/public/assets/lang/de_DE.yaml
  src/public/assets/lang/el_GR.yaml
  src/public/assets/lang/en_GB.yaml
  src/public/assets/lang/en_US.yaml
  src/public/assets/lang/es_ES.yaml
  src/public/assets/lang/fr_FR.yaml
  src/public/assets/lang/ga_IE.yaml
  src/public/assets/lang/hi_IN.yaml
  src/public/assets/lang/id_ID.yaml
  src/public/assets/lang/it_IT.yaml
  src/public/assets/lang/nl_NL.yaml
  src/public/assets/lang/pl.yaml
  src/public/assets/lang/ru.yaml
  src/public/assets/lang/sr_SP.yaml
  src/public/assets/lang/sv_SE.yaml
  src/public/assets/lang/tr_TR.yaml
  src/public/assets/lang/uz_UZ.yaml
  src/public/assets/lang/zh_CN.yaml
  src/public/assets/lang/zh_TW.yaml
Labels: documentation

#202 Update russian localisation
  src/public/assets/lang/ru.yaml
Labels: grammar/translation
