Repository Avdan-OS/Website, pull requests merged in 2022-06, with the labels that each got.

#41 Update features.tsx
  src/pages/features.tsx
Labels: enhancement

#49 Minor spelling error
  src/pages/features-beta.tsx
Labels: bug

#90 Translation - Dev Thread
  .prettierignore
  CONTRIBUTING.md
  README.md
  TRANSLATING.md
  src/components/BetaPopup.tsx
  src/components/FeaturesBetaCard.tsx
  src/components/FeaturesCard.tsx
  src/components/SupportCard.tsx
  src/components/WidthRequirement.tsx
  src/components/alert.tsx
  src/components/discover.tsx
  src/components/locale/TranslatableText.tsx
  src/components/locale/TranslationList.tsx
  src/components/locale/TranslationRebuilder.tsx
  src/components/locale/de-DE.ts
  src/components/locale/en-GB.ts
  src/components/locale/en-US.ts
  src/components/locale/es-ES.ts
  src/components/locale/hi.ts
  src/components/locale/it-IT.ts
  src/components/locale/pl.ts
  src/components/locale/ru.ts
  src/components/locale/zh-CN.ts
  src/components/locale/zh-TW.ts
  src/components/navigation/footer.tsx
  src/components/navigation/menu.tsx
  src/components/navigation/submenu.tsx
  src/pages/404.tsx
  src/pages/demo.tsx
  src/pages/docs.tsx
  src/pages/downloads.tsx
  src/pages/features-beta.tsx
  src/pages/features.tsx
  src/pages/index.tsx
  src/pages/support-beta.tsx
  src/pages/support.tsx
Labels: translation

#95 Updated zh-TW & add zh-CN & en-US localisation
  TRANSLATING.md
  src/components/navigation/menu.tsx
  src/components/translation/TranslationList.tsx
  src/components/translation/locale/de-DE.ts
  src/components/translation/locale/en-GB.ts
  src/components/translation/locale/en-US.ts
  src/components/translation/locale/es-ES.ts
  src/components/translation/locale/hi.ts
  src/components/translation/locale/it-IT.ts
  src/components/translation/locale/pl.ts
  src/components/translation/locale/ru.ts
  src/components/translation/locale/zh-CN.ts
  src/components/translation/locale/zh-TW.ts
  src/pages/features-beta.tsx
Labels: translation
